{% extends 'rozciagi/base.html' %}
{% load bootstrap %}
{% block content %}
    <div class="container-fluid">
        <div class="card col-md-6 my-3 mx-auto">
            <div class="card-body">

                <form method="get">
                    <div class="form-row mb-3">
                        <div class="col">
                            <input class="form-control py-2 border" type="search" name="indeks_kontaktu_contains" placeholder="indeks kontaktu..." />
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col">
                            <input class="form-control py-2 border" type="search" name="numer_zlecenia_contains" placeholder="Numer zlecenia..." />
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col">
                            <input class="form-control py-2 border" type="search" name="pracownik_contains" placeholder="Pracownik..." />
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col">
                            <input class="form-control py-2 border" type="search" name="narzedzia_contains" placeholder="Narzedzia..." />
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col">
                            <input type="date" class="form-control" id="data_od" name="data_od" placeholder="Data wpisu od"  />
                        </div>
                        <div class="col">
                            <input type="date" class="form-control" id="data_do" name="data_do" placeholder="Data wpisu do"  />
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="col">
                            <input type="date" class="form-control" id="data_serwis_od" name="data_serwis_od" placeholder="Data serwisu od"  />
                        </div>
                        <div class="col">
                            <input type="date" class="form-control" id="data_serwis_do" name="data_serwis_do" placeholder="Data serwisu do"  />
                        </div>
                    </div>
                    <input type="hidden" id="eksport" name="eksport" value="on">
                    <div class="form-row mb-3">
                        <div class="col">
                            <button type="submit" class="btn btn-primary">Zapisz</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock content %}